.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.login {
    max-width: 100%;
    width: 1200px;
    display: flex;
    justify-content: space-evenly;
    margin: 65px 0 105px 0;
    gap: 50px;
}

.d1 {
    padding: 85px 99px;
    border-radius: 12px;
    box-shadow: 0 0 16px rgba(0, 0, 0, .11);
    background-color: #fff;
}

.d1 h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.5;
    padding-bottom: 25px;
}

.d1 input {
    border: 1px solid #e0e0e0;
    border-radius: 100px;
    height: 48px;
    padding: 0 50px;
    font-size: 15px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
}

.d1 .btn {
    background-color: #F96F3A;
    box-shadow: unset;
    border-radius: 100px;
    width: 302px;
    height: 50px;
    border: none;
    text-transform: uppercase;
    color: #fff;
    font-size: 17px;
    max-width: 100%;
}